@import "bootstrap";
@import "font-awesome";
@import "adminlte";
@import "nprogress";
@import "toast";
@import "iconpicker";

html,body {
  height:100% !important;
  min-height: inherit !important;
  background: #eef5f9;
  .wrapper {
    .main-sidebar {
      .sidebar {
        .sidebar-menu {
          li {
            font-size: 13px;
            .treeview-menu {
              li a {
                padding: 12px 5px 12px 15px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .content-wrapper {
      .content {
        .box {
          display: inline-block;
          position: relative;
          width: 100%;
          margin: 25px 0;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          border-radius: 6px;
          color: rgba(0,0,0, 0.87);
          background: #fff;
          border:1px solid transparent !important;
          .box-header {
            .table-icon {
              float: left;
              color: #FFFFFF;
              background: linear-gradient(60deg, #26c6da, #00acc1);
              box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
              margin: -30px 15px 0;
              border-radius: 3px;
              padding: 0;
              font-size: 24px;
              position: relative;
              width: 64px;
              height: 64px;
              text-align: center;
              line-height: 64px;
              a {
                width:100%;
                height:100%;
                display: inline-block;
                color:#fff;
              }
            }
            .box-title {
              line-height: 30px;
              color: #9fadc7;
              font-size: 18px;
              font-weight: 300;
            }
            .btn-back {
              float: left;
              margin-right: 10px;
              color: #667c99;
              padding: 0;
              font-size: 16px;
              .fa {
                vertical-align: -2px;
                margin-right:0;
              }
            }
          }
          .box-body {
            .form-group {
              .check-box {
                margin-top: 5px;
                label {
                  width: 33%;
                  height:24px;
                  color: #667c99;
                  overflow: hidden;
                  line-height: 24px;
                  white-space: nowrap;
                  margin-bottom: 10px;
                  display: inline-block;
                  vertical-align: middle;
                  .form-control {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    vertical-align: -5px;
                  }
                }
              }
            }
            .iconpicker-container {
              .iconpicker-popover {
                .popover-title {
                  .popover-title-text {
                    font-size:14px;
                    font-weight: 500;
                  }
                }
                .popover-content {
                  .iconpicker {
                    .iconpicker-items {
                      .iconpicker-item {
                        margin: 0 8px 15px 0;
                      }
                    }
                  }
                }
              }
            }
            .table {
              thead {
                background: #eef1f6;
              }
              tr {
                text-align: center;
                th {
                  border: 1px solid #dfe6ec;
                  color: #000;
                  text-align: center;
                }
                td {
                  border: 1px solid #dfe6ec;
                  color: #262626;
                  line-height: 30px;
                  font-size: 13px;
                  text-align: center;
                  form {
                    display: inline-block;
                  }
                  label {
                    input {
                      margin-right: 3px;
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
          .box-footer {
            .pagination {
              float: right;
              margin:5px 0;
            }
            .total {
              color: #667c99;
              display: block;
              margin: 5px 0;
              line-height: 35px;
              height: 35px;
              float: right;
              margin-right: 25px;
            }
          }
        }
        .box-half {
          width:50%;
        }
        .navbar-nav {
          float: inherit;
          display: block;
          margin-bottom: 15px;
          padding-right: 50px;
          li {
            a {
              width:42px;
              line-height: 42px;
              box-sizing: border-box;
              padding: 0;
              margin:0 15px;
              text-align: center;
              box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
              background-color: #FFFFFF;
              color: #999999;
              will-change: box-shadow, transform;
              transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
              border-radius: 99px;
              &:hover {
                box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
              }
              img {
                width:42px;
                height:42px;
                border-radius: 99px;
              }
            }
            .dropdown-menu {
              margin-top: 5px;
              box-shadow: 0 5px 20px rgba(0,34,77,.1);
              border: 1px solid #e7eaf1;
              li a {
                box-shadow: none;
                border-radius: 0;
                width: inherit;
                height: inherit;
              }
            }
          }
        }
      }
    }

  }
  .auth-box {
    text-align: center;
    h1 {
      width: 250px;
      height: 250px;
      margin: 5% auto 0%;
      display: inline-block;
      background: url(../images/bg.svg) no-repeat;
      background-size: contain;
    }
    p {
      cursor: pointer;
      color: #9fadc7;
      font-size: 18px;
      font-weight: 300;
      margin: 50px auto;
    }
    .form-horizontal {
      width: 350px;
      margin: 0 auto;
      padding: 0 25px;
      .form-group {
        margin-bottom: 25px;
        .form-control {
          color: #9fadc7;
          font-size: 13px;
          &::placeholder {
            color: #9fadc7;
          }
        }
        .btn {
          font-size:13px;
          color: #fff;
          background: linear-gradient(90deg,#15b982,#01d18b);
          border-radius: 0;
          border:1px solid transparent;
        }
        a {
          color: #9fadc7;
        }
      }
    }
  }
  .footer {
    text-align: center;
    padding-top: 50px;
    font-size:14px;
    color: #9fadc7;
    background: #eef5f9;
    a {
      text-decoration: underline;
      color: #9fadc7;
    }
    .fa {
      margin: 0 5px;
    }
    p {
      background: #eef5f9;
      margin:0;
      padding-bottom: 10px;
    }
  }
  .tooltip {
    .tooltip-arrow {
      border-top-color: rgba(70,76,91,.9) !important;
    }
    .tooltip-inner{
      max-width: 250px;
      min-height: 34px;
      padding: 8px 12px;
      color: #fff;
      text-align: left;
      text-decoration: none;
      background-color: rgba(70,76,91,.9);
      border-radius: 4px;
      font-size: 14px;
      box-shadow: 0 1px 6px rgba(0,0,0,.2);
      white-space: nowrap;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}